
{% extends 'base.html' %}

{% block title %}Doctors{% endblock %}

{% block content %}

<h2 class="font-weight-bold mb-2 mt-2">Our Doctors</h2>
<div class="row pb-5 mb-4 mt-2">
    {% for doctors in doc %}
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 ">
        <div class="card shadow-sm border-0 rounded ">
            <div class="card-body p-0"><img src="{{doctors.doc_image.url}}" alt="" class="w-100 card-img-top">
                <div class="p-4">
                    <h5 class="mb-0">{{doctors.doc_name}}</h5>
                    <p class="small text-muted">{{doctors.doc_spec}}</p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    



{% endblock %}

<div class="mt-auto " style="background-color: #1e74ad;">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top ">
      <p id="year" class="col-md-12 col-12 mb-0 text-center text-white ">© 2023 Hospital, Inc</p>


    </footer>
  </div>
